.m-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.menuscroll {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.menu--wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

.menu--item {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  text-align: center;
  will-change: transform;
}

.menu--item a {
  display: block;
  padding: 30px 0;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  transition: transform 0.25s ease;
  border-radius:50%;
}

.menu--item:nth-child(1) a {
  color: #FF8C00;
  border: 3px solid #FF8C00;
  background-color: #0000;
}

.menu--item:nth-child(2) a {
  color: #0FFFDB;
  border: 3px solid #0FFFDB;
  background-color: #0000;
}

.menu--item:nth-child(3) a {
  color: #FF0059;
  border: 3px solid #FF0059;
  background-color: #0000;
}

.menu--item:nth-child(4) a {
  color: #9500FF;
  border: 3px solid #9500FF;
  background-color: #0000;
}

.menu--item:nth-child(5) a {
  color: #2962FF;
  border: 3px solid #2962FF;
  background-color: #0000;
}

.menu--item:nth-child(6) a {
  color: #0AD2FF;
  border: 3px solid #0AD2FF;
  background-color: #0000;
}

.menu--item:nth-child(7) a {
  color: #b4e600;
  border: 3px solid #b4e600;
  background-color: #0000;
}

a:hover {
  transform: scale(1.05);
}